<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rentalapp"
        tools:targetApi="31">
        <activity
            android:name=".owner_dashboard"
            android:exported="false" />
        <activity
            android:name=".owner_add_spaces"
            android:exported="false" />
        <activity
            android:name=".Userhome"
            android:exported="false" />
        <activity
            android:name=".reg_successful"
            android:exported="false" />
        <activity
            android:name=".rental_view"
            android:exported="false" />
        <activity
            android:name=".ownerView"
            android:exported="false" />
        <activity
            android:name=".login_renter"
            android:exported="false" />
        <activity
            android:name=".Registration_renter"
            android:exported="false" />
        <activity
            android:name=".renterlogin"
            android:exported="false" />
        <activity
            android:name=".ownerlogin"
            android:exported="false" />
        <activity
            android:name=".userselection"
            android:exported="false" />
        <activity
            android:name=".multi_users"
            android:exported="false"
            android:label="@string/title_activity_multi_users"
            android:theme="@style/Theme.Rentalapp" />
        <activity
            android:name=".Users"
            android:exported="false"
            android:label="@string/title_activity_users"
            android:theme="@style/Theme.Rentalapp" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>